# --- Java & Build ---
*.class
target/
build/
*.jar
*.war

# --- IDE (에디터) 설정 ---
.idea/
*.iml
.settings/
.metadata/
.classpath
.project
.vscode/

# --- OS & 환경 변수 ---
.DS_Store
Thumbs.db
.env
.yml

# --- frontend ---
node_modules/


# --- backend ---
venv/
__pycache__/
*.pyc
db.sqlite3
.env
*.yml